service cloud.firestore {
  match /databases/{database}/documents {
    function dono() {
      return request.auth.uid == resource.data.dono;
    }

    function grupoMembro(grupoId) {
      return request.auth.uid in get(/databases/$(database)/documents/grupos/$(grupoId)).data.membros;
    }

    function grupoAdmin(grupoId) {
      return request.auth.uid in get(/databases/$(database)/documents/grupos/$(grupoId)).data.admins;
    }

    match /usuarios/{usuario} {
      allow read: if true;

      allow write: if request.auth.uid == usuario;
    }

    match /grupos/{grupo} {
      allow read: if request.auth.uid in resource.data.membros;

      allow create: if 
        request.auth.uid in request.resource.data.membros && 
        request.auth.uid in request.resource.data.admins
    }

    match /items/{item} {
      allow read: if dono() || grupoMembro(resource.data.dono);

      allow create: if request.auth != null && (
        request.auth.uid == request.resource.data.dono || grupoMembro(request.resource.data.dono)
      );

      allow update: if dono() || grupoMembro(resource.data.dono);

      allow delete: if dono() || grupoMembro(resource.data.dono);
    }

    match /ordem/{grupoId} {
      allow read, write: if request.auth.uid == grupoId || grupoMembro(grupoId)
    }

    match /ordemTipo/{usuario} {
      allow read, write: if request.auth.uid == usuario;
    }

    match /convites/{convite} {
		allow get: if request.auth != null && resource.data.valido == true;

    allow list: if grupoAdmin(resource.data.grupo);
		
		allow create: if grupoAdmin(request.resource.data.grupo)
		
		allow update: if grupoMembro(resource.data.grupo) == false && request.resource.data.id == resource.data.id && request.resource.data.grupo == resource.data.grupo && request.resource.data.usuarioAceito == request.auth.uid && request.resource.data.valido == false
    }
  }
}
