service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth.uid == resource.data.usuario;
    }


    match /items/{item} {
      allow read: if isOwner();

      allow create: if request.auth != null && request.auth.uid == request.resource.data.usuario;

      allow update: if isOwner();

      allow delete: if isOwner();
    }

    match /ordem/{usuario} {
      allow read, write: if request.auth.uid == usuario;
    }
  }
}
