service cloud.firestore {
  match /databases/{database}/documents {
    function dono() {
      return request.auth.uid == resource.data.dono;
    }

    match /infoUsuario/{usuario} {
      allow read, write: if request.auth.uid == usuario;
    }

    match /items/{item} {
      allow read: if dono();

      allow create: if request.auth != null && request.auth.uid == request.resource.data.dono;

      allow update: if dono();

      allow delete: if dono();
    }

    match /ordem/{usuario} {
      allow read, write: if request.auth.uid == usuario;
    }

    match /ordemTipo/{usuario} {
      allow read, write: if request.auth.uid == usuario;
    }
  }
}
